[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:BastiaanOlij/gdnative_cpp_example.git
[submodule "SimpleBLE"]
	path = SimpleBLE
	url = git@github.com:OpenBluetoothToolbox/SimpleBLE.git
